@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 41, 55);
    color: white;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;   
    font-weight: 900; 
    padding-top:10px;
    padding-bottom: 10px;
}

.hlink {
    display: flex;
    font-size: 18px;
    gap: 10px;
}

.s1 {
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    padding: 75px 100px;
    justify-content: space-between;

}

.s1content {
    width: 450px;
    
}

.s1main{
    display: flex;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;

}

.s1sub {
    font-size: 18px;
    padding-bottom: 10px;
}

.s1button {
    background-color: rgb(59, 130, 246);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    padding: 5px 25px;
    font-weight: 900;
}

.image {
    display: flex;
    background-color: rgb(109, 116, 125);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 450px;
    margin: 0;
}

.footer {
    display: flex;
    background-color: rgb(31, 41, 55);
    color: white;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}

.s2 {
    display: flex;
    padding: 50px 0px; 
    flex-direction: column;
}

.s2logo { 
    display: flex;
    color: rgb(31, 41, 55);
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    padding-bottom: 50px;
}

.s2content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 52px;

}

.s2block {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.s2box {
    border: solid rgb(59, 130, 246);
    border-radius: 10px;
    width: 175px;
    height: 175px;
    margin-bottom: 15px;
}

.s2text {
    display: flex;
    font-size: 18px;
    width: 175px;
    flex-wrap: wrap;
    
}